.Section-Blocks {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-compare{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    max-width: 1350px;
}

.title-block-compare {
    max-width: 650px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.titleContainer-compare{
    display: block;
    position: relative;
    top: 30%;
    text-align: left;
    
}



.CompareLarge {
    display: block;
    position: relative;
    top: 5%;
    width: 587px;
    height: 449px;
}

.CompareMed {
    display: none;
}

.CompareSmall {
    display: none;
}

.typography-headline-compare {
    font-size: 56px;
    letter-spacing: .008em;
    font-weight: 200;
    margin-top: 15px;
    font-weight: 600;
}

.check-me-out-compare {
    color: #6bf;
    font-size: 22px;
    letter-spacing: 0.16em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
}