.Section-Blocks {
    margin-top: 44px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section-compare{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    max-width: 1350px;
    width: 100%;
    background-color: #FAFAFA;
    overflow: hidden;
}

.title-block-right {
    max-width: 650px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.titleContainer-right {
    display: block;
    position: relative;
    top: 30%;
    text-align: left;
    left: 23%;
    max-width: 499px;
}





.CompareLarge {
    display: block;
    position: relative;
    top: 5%;
    width: 587px;
    height: 449px;
}

.CompareMed {
    display: none;
}

.CompareSmall {
    display: none;
}

.typographyHeadline {
    font-size: 52px;
    letter-spacing: -.005em;
    font-weight: 200;
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 4%;
    color: #111;
}

.checkMeOut {
    display: block;
    position: relative;
    color: #4E70C9;
    font-size: 22px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
}

.section-giant-step{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    max-width: 1350px;
    width: 100%;
    background-color: #FAFAFA;
    overflow: hidden;
}

.title-block-center {
    display: block;
    text-align: center;
    max-width: 650px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}
.titleContainer-center {
    display: block;
    position: relative;
    top: 10%;
    max-width: 389px; 
    left: 21%;
}
.description {
    color: #333;
    font-size: 21px;
    font-weight: 400;
}

.iOSLarge {
    display: block;
    background-image: url('../../img/content/content4/ios_large.jpg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    width: 100%;
    height: 100%;
}

.iOSMed {
    display: none;
}

.iOSSmall {
    display: none;
}


@media only screen and (max-width: 1064px) {
    .typographyHeadline {
        
        font-size: 52px;
        letter-spacing: -.005em;
        font-weight: 200;
        font-weight: 600;
        word-break: keep-all;
        color: #111;
    }
    .description {
        color: #333;
        font-size: 21px;
        font-weight: 400;
    }
    .section-giant-step{
        margin-top: 45px;
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 850px;
        max-width: 1064px;
        width: 100%;
        background-color: #FAFAFA;
        overflow: hidden;
    }

    .title-block-center {
        position: absolute;
        max-height: 258px;
        
    }
    .iOSLarge {
        display: none;
    }
    .iOSMed {
        display:block;
        position: relative;
        max-height: 483px;
        top: 43%;
    }
}