.Section-Blocks {
    margin-top: 44px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.section-3{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    max-width: 1350px;
    width: 100%;
    background-color: #FAFAFA;
    overflow: hidden;
}

.title-block-3 {
    max-width: 650px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.titleContainer-3 {
    display: block;
    position: relative;
    top: 30%;
    text-align: left;
    left: 23%;
    max-width: 499px;
}





.CompareLarge {
    display: block;
    position: relative;
    top: 5%;
    width: 587px;
    height: 449px;
}

.CompareMed {
    display: none;
}

.CompareSmall {
    display: none;
}

.typographyHeadline {
    font-size: 52px;
    letter-spacing: -.005em;
    font-weight: 200;
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 4%;
    color: #111;
}

.checkMeOut {
    display: block;
    position: relative;
    color: #4E70C9;
    font-size: 22px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
}

.section-4{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    max-width: 1350px;
    width: 100%;
    background-color: #FAFAFA;
    overflow: hidden;
}

.title-block-4 {
    display: block;
    text-align: center;
    max-width: 650px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}
.titleContainer-4 {
    display: block;
    position: relative;
    top: 10%;
    max-width: 389px; 
    left: 21%;
}
.description {
    color: #333;
    font-size: 21px;
    font-weight: 400;
}

.iOSLarge {
    display: block;
    background-image: url('../../img/content/content4/ios_large.jpg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    width: 100%;
    height: 100%;
}

.iOSMed {
    display: none;
}

.iOSSmall {
    display: none;
}


@media only screen and (max-width: 1064px) {
   
    
    
    .section-3{
        margin-top: 23px;
        margin-bottom: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        max-width: 1064px;
        width: 100%;
        background-color: #FAFAFA;
        overflow: hidden;
    }

    .title-block-3{
        display: block;
        max-width: 368px;
        max-height: 400px;
        width: 100%;
        
    }

    .titleContainer-3 {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        top: 0%;
        left: 0%;
    }

    .checkMeOut {
        margin-top: 0px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 20px;

    }
    .CompareLarge {
        display: none;
    
    }

    .CompareMed {
        display: block;
        height: 100%;
    }

    .CompareMed img{
        display: flex;
    }

   
    .typographyHeadline {
        text-align: center;
        font-size: 52px;
        letter-spacing: -.005em;
        font-weight: 200;
        font-weight: 600;
        word-break: keep-all;
        color: #111;
        width: 100%;
        
    }
    .description {
        color: #333;
        font-size: 21px;
        font-weight: 400;
    }
    .section-4{

        margin-top: 23px;
        margin-bottom: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        max-width: 1064px;
        width: 100%;
        background-color: #FAFAFA;
        overflow: hidden;
    }

    .iOS11Icon{
        margin-top: 20px;
    }

    .titleContainer-4 {
        display: flex;
        flex-direction: column;
        align-items: center;        
        
        width: 1000px;
        left: 0;
        right: 0;
        
    }

    .titleContainer-4 .typographyHeadline {
        width: 613px;
    }

    .titleContainer-4 .description {
        width: 613px;
        
    }


    .CompareMed img{
        display: flex;
    }

    .title-block-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        max-height: 400px;
        width: 100%;
        
    }
    .iOSLarge {
        display: none;
    }
    .iOSMed {
        padding-top: 40px;
        display: block;
        height: 100%;
    }
}

@media only screen and (max-width: 569px){
    .section-3{
        margin-top: 23px;
        margin-bottom: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        max-width: 1064px;
        width: 100%;
        background-color: #FAFAFA;
        overflow: hidden;
    }
    
    .typographyHeadline {
        font-size: 44px;
    }

    
    .titleContainer-4 .typographyHeadline {
        max-width: 310px;
    }

    .titleContainer-4 .description {
        max-width: 400px;
        width: 100%;
    }

    .iOS11L {
        max-width: 65px;
    }

    .CompareMed  {
        width: 80%;
        height: 80%;
        margin-left: 0;
    }

    .checkMeOut {
        font-size: 18px;
    }

    .description {
        font-size: 18px;
    }
} 

@media only screen and (max-width: 320px) {

    .titleContainer-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-3 .typographyHeadline {
        width: 250px;
    }

    .section-4 .description {
        width: 250px;
    }
}