

/* NAV HEADER */
  .ac-gn-header {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
    background-color: rgb(50, 48, 47);
    position: fixed;
    margin-top: -48px;
    opacity: 0.9;
    align-items: center;

  }

  .nav .appleIcon {
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: space-around;
    align-items: auto;
  }

  .nav .searchIcon {
    height: 16px;
    width: 19px;
    display: flex;
    justify-content: space-around;
    align-items: auto;
  }

  .nav .cartIcon {
    height: 16px;
    width: 19px;
    display: flex;
    justify-content: space-around;
    align-items: auto;
  }
  .nav li{
    display: inline block;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #fff;
    list-style-type: none;
    font-weight: 300;
    font-size: 14px;
    z-index: 1;
    max-width: 62.9px;
    justify-content: space-around;
    align-items: auto;
  }
  
  .nav li:hover{
    color: #C2C1C1;
    transition: color 0.3s;
    transition-timing-function: ease-in-out;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    padding-left: 22%;
    padding-right: 22%;
  }
/*CONTENT*/
  /*content 1*/

    .content1 h2 {
        display: block;
        text-align: center;
        font-size: 50px;
        font-weight: 600px;
        line-height: 20px;
    }

    .content1 {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 692px;
      width: 100%;
      background-color: #F9F0EB;
      
      overflow: visible;
      flex-grow: 1;
      z-index: 1;
    }

    .content1 img {
      border-color: #F9F0EB;
      width: 673px;
      height: 505px;
    }

  /*content 2*/

    .content h2 {
      display: block;
      text-align: center;
      font-size: 50px;
      font-weight: 600px;
      line-height: 20px;
      margin-top: 65px;
     }

    .content2 {
      display: flex;
      flex-direction: column;
      height: 692px;
      width: 100%;
      background-color: #FAFAFA;
      justify-content: flex-end;
      align-items: center;
      border-top-color: white;
      border-bottom-color: white;
      border-top: solid;
      border-color: white;
     }

    .content2 img {
      width: 981px;
      height: 207px;
      margin-top: 137px;
      margin-bottom: 137px;
    }
  /*content 3*/

    .content h3 {
      bottom: 35px;
      position: relative;
      text-align: center;
      font-size: 22px;
      letter-spacing: 0.01em;
      font-weight: 200;
    }

    .content3 {
      display: flex;
      flex-direction: column;
      height: 692px;
      background-color: #FAFAFA;
      justify-content: flex-start;
      align-items: center;
      border-top: solid;
      border-color: white;
    }

    .content3 .watchSVG {
      height: 72px;
      width: 187px;
      padding-top: 60px;
      margin-bottom: 27px;
    }

    .content3 img {
      border-color: #FAFAFA;
      width: 977px;
      height: 434px;
    }
  /*tile content*/

    .tileContent {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .tileContent h4 {
      font-size: 48px;
    }

    .tileContent h5 {
      font-size: 24px;
      line-height: 1.16667;
      font-weight: 400;
      letter-spacing: .009em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
   /*tile 1*/
    .tv4kTile {
      border: solid;
      border-color: white;
      border-width: 12px 6px 6px 12px;
      height: 587px;
      width: 793px;
      }
   /*tile 2*/


    .iOS11Tile {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background-color: white;
      height: 587px;
      width: 793px;
      border: solid;
      border-color: white;
      border-width: 12px 6px 6px 12px;
      }

    .iOS11Tile h4 {
      display: block;
      text-align: center;
      margin: 0px;
      }

    .iOS11Tile h5 {
      display: inline-block;
      text-align: center;
      margin-bottom: 0px;
      padding-bottom: 40px;
      }

    .iOS11Tile img {
      display: flex;
      flex-direction: row;
      border: solid;
      border-color: blue;
      margin-bottom: 40px;
      }      
   /*tile 3*/
    .watchOSTile {
      height: 587px;
      width: 793px;
      background-color: white;
      border: solid;
      border-color: white;
      border-width: 12px 6px 6px 12px;
      }
   /*tile 4*/
    .collegeTile {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 587px;
      width: 793px;
      background-color: white;
      border: solid;
      border-color: white;
      border-width: 12px 6px 6px 12px;
      background-image: url("./img/bts_ipad_pro_large.jpg");
      background-size: cover;
      background-position-x: 50%; 
      justify-content: center;
      }

  /*donate*/
    .handINhand {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 193px;
    }

    .handINhand img {
      height: auto;
      width: auto;
    }

    .handINhand p {
      font-size: 17px;
      font-weight: 400;
      color: #111111;
      font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }


/*FOOTER*/
  .footer {
    padding-right: 20%;
    padding-left: 20%;
    height: 381px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;    
    user-select: none;
    border-top: solid;
    border-color: white;
    width: auto;
  }

 .footer ul {
    padding-left: 0%;
 }

  .footer h4 {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.27273;
    margin-bottom: 6px;
    padding-top: 12px;
    color: #333338;
  }

  .footer li {
    font-size: 11px;
    font-weight: 400;
    list-style-type: none;
    line-height: 1.27273;
    margin-bottom: 6px;
    color: #555555;
  }

  .footer li:hover {
    text-decoration: underline;
    color: #333333;
  }

  .footer .footerBottom {
    font-size: 11px;
    color: #8E8E8B;
    max-width: 980px;
    width: 100%;
    

  }
  
  .footer .footerBottom .split {
    display: block;
    position: relative;
    width: 100%;
    height: 0.5px;
    background-color: #D6D6D6;
  }