body {
  user-select: none;
  width: 100%;
}


/* NAV HEADER */
  .ac-gn-header {
    display: flex;
    justify-content: center;
    height: 44px;
    width: 100%;
    position: fixed;
    margin-top: -44px;
    align-items: center;
    background: rgba(0,0,0,0.8);
    z-index: 1;
  }


  .ac-gn-header ul {
    padding-left: 0px;
  }

  .nav ul {
    width: 100%;
    padding-left: 0px;
    
  }

  .appleIcon img {
    height: 19px;
    width: 19px;
    display: flex;
  }

  /* search bar */
      .close-search {
        display: block;
        background-color: blue;
        height: 30px;
        width: 30px;
      }

      .searchform-wrapper {
        display: none !important;
        width: 100%;
        background-color: black;
        z-index: 5;
        justify-content: center;
        display: flex;
        align-items: center;
        position: fixed;
        height: 44px;
        animation: 
        searchbar 1s;
      }

      .searchform-wrapper--show {
        display: flex !important;
      }

      .searchIcon {
        display: flex;
        height: 16px;
        width: 19px;
      }

      .searchform-icon {
        height: 16px;
        width: 19px;
        padding-right: 15px;
      }

      .searchform-input {
      
        font-size: 17px;
        color: white;
        height: 1.29412em;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        max-width: 642px;
      }

  .cartIcon {
    height: 16px;
    width: 19px;
    display: flex;
  }
  .nav li{
    display: inline block;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #fff;
    list-style-type: none;
    font-weight: 300;
    font-size: 14px;
    z-index: 1;
    max-width: 62.9px;
    justify-content: space-around;
    align-items: auto;
    opacity: 1;
  }
  
  .nav li:hover{
    color: #C2C1C1;
    transition: color 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 990px;
    width: 100%;
    margin: 0px;
    z-index: 1;
    position: absolute;
  }

  .mobile-nav {
    display: none;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
    padding-right: 48px; 
    padding-left: 48px;
    right: 0;
    left: 0;
    animation: 
      mobilenav 1s,
      forwards 1s;
  }

  @keyframes mobilenav {
    0%{
      opacity: 0;
      height: 0%;
    }
    100% {
      opacity: 1;
      height: 100%;
    }
  }

  @keyframes searchbar {
    0%{
      opacity: 0;
      
    }
    100% {
      opacity: 1;
    }
  }
  

  

  .m-nav-list  {
    color: white;
    margin-top: 20px;
    border-bottom: 1px solid #333;
    z-index: 1;
    opacity: 1;
    white-space: nowrap;
    font-weight: 400;
    height: 33px;
    
    
     
    
  }

  .m-nav-list li {
    display: block;
    line-height: 2.52947;
    letter-spacing: -.021em;
    font-size: 17px;
    text-decoration: none;
    transform: scale(1.1) translateY(24px);
  }

 
  
  .mobile-nav ul {
    list-style-type: none;
    padding: 0;
    
  }



  .mobile-nav--show {
    display: block;
  }
  /*shopping bag*/
  
    .bag-wrapper{
    position: absolute;
    display: block;
    max-width: 990px;
    left: 68%;
    }
    .cart-menu-icons {
      display: inline;
      max-width: 15px;
    }
  
    .bagview-content{
      display: none;
      max-width: 290px;
      width: 100%;
      
      height: 307px;
      z-index: 2;
      margin: 0 auto;
      background-color: white;
      border: solid 1px;
      position: fixed;
      overflow: hidden;
      border-radius: 2px;
      border: 2px solid #d6d6d6;
      margin-right: 24px;
    }

    .bagview-content--show {
      display: block;
    }

    .bagview-content p {
      text-align: center;
      color: #888;
      display: block;
      margin: 0px auto; 
      padding:  25px 0px;
    }

    .bagview-content ul {
      padding: 0px 19px;
    }

    .bagview-content li {
      display: block;
      text-decoration: none;
      line-height: 43px;
      color: #0070c9;
      padding: 0 30px;
      white-space: nowrap;
      
      overflow: hidden;
      border-top: 1px solid #e3e3e3;
    }
/*CONTENT*/

  .headline1{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0px;
   
 }
  .headline2 {
    
    font-size: 27px;
    line-height: 1.14815;
    font-weight: 400;
    letter-spacing: .008em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
   
  }

  .unit-copy-wrapper {
    padding-top: 56px;
    text-align: center;
    display: block;
  }
  /*content 1*/

    .content1 {
      margin-top: 44px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      background-color: #F9F0EB;
      overflow: visible;
      flex-grow: 1;
      cursor: pointer;
      z-index: 0;
    }

    .iPhone8Large {
      max-width: 673px;
      width: 100%;
      height: 505px;
    }

    .iPhone8Med {
      display: none;
    }

    .iPhone8Small {
      display: none;
    }

  /*content 2*/

    .content2 {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      background-color: #FAFAFA;
      justify-content: flex-end;
      align-items: center;
      border-top-color: white;
      border-bottom-color: white;
      border-top: solid;
      border-color: white;
      cursor: pointer;
     }

    .iPhone10XLarge {
      width: 981px;
      height: 207px;
      margin-top: 137px;
      margin-bottom: 137px;
    }

    .iPhone10XMed {
      display: none;
    }

    .iPhone10XSmall {
      display: none;
    }
  /*content 3*/



    .content3 {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: #FAFAFA;
      justify-content: flex-start;
      align-items: center;
      border-top: solid;
      border-color: white;
      cursor: pointer;
    }

    .content3 .watchSVG {
      max-height: 72px;
      height: 100%;
      max-width: 187px;
      width: 100%;


    }

    .watchLarge {
      width: 977px;
      height: 434px;
    }
    .watchMed {
      display: none;
    }
    .watchSmall {
      display: none;
    }
  /*tile content*/

    .tileContent {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      cursor: pointer;
    }


    .unit-copy-wrapper-tile {
      width: 688px;
      height: 136.36px;
    }

    .unit-header h4 {
      text-align: center;
      width: 88%;
      max-width: 550px;
      height: 52px;
      margin-top: 1.08em;
      margin-bottom: 0px; 
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      letter-spacing: -.003em;
      font-weight: 600;
      font-size: 48px;
      line-height: 1.08365;
      display: block;
      position: relative;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
 
    }

    .sub-header h5 {
      width: 88%;
      height: 28px;
      font-weight: 400;
      line-height: 1.16667;
      font-size: 24px;
      letter-spacing: .009;
      text-align: center;
      display: block;
      position: relative;
      margin-top: 0.4em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
   /*tile 1*/

    .tv4kTile {
      border: solid;
      border-color: white;
      border-width: 12px 6px 6px 12px;
      height: 587px;
      width: 100%;
      max-width: 793px;
      background-image: url('./img/tv_4k_large.jpg');
      background-position-x: 50%;
      background-position-y: 50%;
      }

    .tv4kTile .sub-header h5 {
      color: white;
      font-size: 24px;
      width: 88%;
      line-height: 1.16667;
      font-weight: 400;
      letter-spacing: .009em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      margin-top: 0.8em;
    }

    .unit-header img {
      text-align: center;
      max-width: 109px;
      width: 100%;
      margin-top: 1.33em;
      margin-bottom: 0px; 
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      letter-spacing: -.003em;
      font-weight: 600;
      font-size: 48px;
      line-height: 1.08365;
      display: block;
      position: relative;
    }
   /*tile 2*/

    .iOS11Tile {
      display: flex;
      justify-content: center;
      background-color: #FAFAFA;
      height: 587px;
      max-width: 793px;
      
      border: solid;
      border-color: #FFFFFF;
      border-width: 12px 6px 6px 12px;
      }

    .iOS11 {
      display: block;
      margin-right: auto;
      margin-left: auto;
      }      
    .iOS11Med {
      display: none;
    }
   /*tile 3*/
    .watchOSTile {
      display: flex;
      justify-content: center;
      height: 587px;
      width: 793px;
      background-color: #FAFAFA;      
      border: solid;
      border-color: white;
      border-width: 12px 6px 6px 12px;
      }

    .watchOS4 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 48px;
    }

    .watchOS4Med {
      display: none
    }
      
    
   /*tile 4*/
    .collegeTile {
      display: flex;
      justify-content: center;
      height: 587px;
      max-width: 793px;
      border: solid;
      border-color: #FFFFFF;
      border-width: 12px 6px 6px 12px;
      background-image: url("./img/bts_ipad_pro_large.jpg");
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      }
    .collegeTile h5 {
      margin-bottom: -0.4em;
      }
      

  /*donate*/
    .handINhand {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 193px;
      cursor: pointer;
    }

    .handINhand img {
      height: auto;
      width: auto;
    }

    .handINhand p {
      font-size: 17px;
      font-weight: 400;
      color: #111111;
      font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }


/*FOOTER*/
  .footerList-mobile {
    display: none;
  }
  .footer {
    padding-right: 20%;
    padding-left: 20%;
    
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;    
    user-select: none;
    border-top: solid;
    border-color: white;
    width: auto;
  }

 .footer ul {
    padding-left: 0%;
   
 }

  .footer h4 {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.27273;
    margin-bottom: 6px;
    padding-top: 12px;
    color: #333338;
  }

  .footer li {
    font-size: 11px;
    font-weight: 400;
    list-style-type: none;
    line-height: 1.27273;
    margin-bottom: 6px;
    color: #555555;
  }

  .footer li:hover {
    text-decoration: underline;
    color: #333333;
    cursor: pointer;
  }

  .footerBottom {
    font-size: 11px;
    color: #8E8E8B;
    max-width: 980px;
    width: 100%;
  }

  .footerBottom a {
    color: #0070CF; 
    text-decoration: none;
    font-size: 1em;
  }

  .footerBottom a:hover {
    color: #0070CF; 
    font-size: 1em;
    text-decoration: underline;
  }

  
  .footer .footerBottom .split {
    display: block;
    position: relative;
    width: 100%;
    height: 0.5px;
    border-color: #D6D6D6;
    background-color: #D6D6D6;
    margin-bottom: 7px;
    padding-bottom: 0.5px;
  }

  .legal-copyright {
    margin-top: 3px;
    margin-right: 30px;
    float: left;
  }

  .legal-link {
    margin-top: 3px;
    border-right: 1px solid #d6d6d6;
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
    padding-right: 12px;
    font-size: 1em;
    color: #555555;
    font-weight: 600;
  }

  .locale-link{
    float: right;
    height: auto;
    width: auto;
    font-size: 1em;
    color: #555555;
    font-weight: 600;
  }

  .locale-link img {
    vertical-align: middle;
    padding-left: 5px;
  }

/* MEDIA */
  @media only screen and (max-width: 1064px){

      .headline1{
        font-size: 44px;
        line-height: 1.09091;
        font-weight: 600;
        letter-spacing: -.002em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        margin: 0px;
      
      }
      .headline2 {
        
        font-size: 22px;
        line-height: 1.18182;
        font-weight: 400;
        letter-spacing: .001em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        margin-top: 3px;
      
      }
    
      .unit-copy-wrapper {
        padding-top: 70px;
        text-align: center;
        display: block;
        position: relative;
      }
      .unit-copy-wrapper-tile {
        width: 100%;
        height: 136.36px;
        text-align: center;
      }
  
      .unit-header h4 {
        text-align: center;
        width: 88%;
        max-width: 550px;
        height: 52px;
        margin-top: 1.08em;
        margin-bottom: 0px; 
       
        text-align: center;
        letter-spacing: 0em;
        font-weight: 600;
        font-size: 40px;
        line-height: 1.1;
        display: block;
        position: relative;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
   
      }
  
      .sub-header h5 {
        width: 88%;
        
        height: 28px;
        font-weight: 400;
        line-height: 0.19048;
        font-size: 21px;
        letter-spacing: .011;
        text-align: center;
        display: block;
        position: relative;
      
        
        text-align: center;
        flex-shrink: 1;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      }

      .tv4kTile .sub-header h5 {
        color: white;
        font-size: 21px;
        line-height: 1.19048;
        font-weight: 400;
        letter-spacing: .012em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        margin-top: 0.8em;
      }


   /*header 1064*/
    .nav ul {
      padding-left: 0px;
    }
   /*content1 1064*/
    .content1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: #F9F0EB;
      overflow: visible;
      flex-grow: 1;
      z-index: 1;
      cursor: pointer;
    }
    .iPhone8Large {
      display: none;
    }

    .iPhone8Med {
      display: block;
     
    }
   /*content2 1064*/
    .iPhone10XLarge {
      display: none;
    }

    .iPhone10XMed {
      display: block;
      padding-bottom: 172px;
      padding-top: 140px;
    }
   /*content3 1064*/
    .watchLarge {
      display: none;
    }
    .watchMed {
      display: block;
    }

   /*tile content 1064*/
    /*apple tv tile 1064*/
      .tv4kTile {
        border: solid;
        border-color: white;
        border-width: 12px 6px 6px 12px;
        height: 490px;
        width: 100%;
        max-width: 490px;
        max-height: 490px;
        background-image: url('./img/1064/tv_4k_medium.jpg');
      }    
    /*watchOS4 tile 1064*/
      .watchOS4 {
        display: none;
      }

      .watchOS4Med {
        display: block;
        position: relative;
        left: 6%;
        width: 100%;
      }

      .watchOSTile {
        height: 490px;
        width: 100%;
        max-width: 490px;
        max-height: 490px;
        overflow: hidden;
      }
    
    /*ios11 tile 1064*/
      .iOS11 {
        display: none;
      }
      .iOS11Med {
        display: block;
        width: 100%;
      }

      .iOS11Tile {
        height: 490px;
        width: 100%;
        max-width: 490px;
        max-height: 490px;
      }

    /*college tile 1064*/
      .collegeTile {
        display: flex;
        justify-content: center;
        border: solid;
        border-color: #FFFFFF;
        border-width: 12px 6px 6px 12px;
        background-image: url("./img/bts_ipad_pro_large.jpg");
        background-size: cover;
        background-position-x: 50%; 
        height: 490px;
        width: 100%;
        max-width: 490px;
        max-height: 490px;
        }
  




  }
  @media only screen and (max-width: 912px) {
    .bag-wrapper{
      display: block;
      width: 100%;
      max-width: 912px;
      left: 0;
      right: 0;
      }
      .cart-menu-icons {
        display: inline;
        max-width: 15px;
      }
    
      .bagview-content{
        display: none;
        z-index: 2;
        background-color: white;
        border: solid 1px;
        position: fixed;
        border-radius: 2px;
        border: 2px solid #d6d6d6;
        margin: 0px;
        width: 100%;
        max-width: 912px;
        
      }
  
      .bagview-content--show {
        display: block;
        width: 100%;
      }
  
      .bagview-content p {
        text-align: center;
        color: #888;
        display: block;
      }
  
      .bagview-content ul {
        display: block;
        width: 100%;
        padding: 0px;
      }
  
      .bagview-content li {
        display: block;
        text-decoration: none;
        line-height: 43px;
        width: 100%;
        color: #0070c9;
        padding: 0px 30px;
        
        border-top: 1px solid #e3e3e3;
      }

  }
  @media only screen and (max-width: 735px) {
    .headline1{
      font-size: 32px;
      line-height: 1.125;
      font-weight: 600;
      letter-spacing: .004em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      margin: 0px;
     
    }
    .headline2 {
      font-size: 19px;
      line-height: 1.42115;
      font-weight: 400;
      letter-spacing: .001em;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
      margin-top: 3px;
      
     
    }
  
    .unit-copy-wrapper {
      padding-top: 44px;
      text-align: center;
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
   
    .ac-gn-header {
      display: flex;
      justify-content: space-between;
      height: 44px;
      max-width: 735px;
      position: fixed;
      margin-top: -44px;
      align-items: center;
      background: rgba(0,0,0,0.8);
      z-index: 9999;
    }
    .unit-copy-wrapper-tile {
      width: 688px;
      height: 136.36px;
      text-align: center;
    }

    .unit-header h4 {
      text-align: center;
      width: 88%;
      max-width: 550px;
      height: 52px;
      margin-top: 1.08em;
      margin-bottom: 0px; 
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      letter-spacing: 0em;
      font-weight: 600;
      font-size: 32px;
      line-height: 1.1;
      display: block;
      position: relative;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }

    .sub-header h5 {
      width: 88%;
      max-width: 550px;
      height: 28px;
      font-weight: 400;
      line-height: 0.19048;
      font-size: 19px;
      letter-spacing: .011;
      text-align: center;
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      flex-shrink: 1;
      font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .tileContent img {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    /*nav 735*/


      .ac-gn-header {
        display: flex;
        justify-content: center;
        height: 44px;
        width: 100%;
        position: fixed;
        align-items: center;
        background: rgba(0,0,0,0.8);
        z-index: 2;
      }

      .nav {
        width: 100%;
        position: fixed;
      }
      .nav li {
        display: none;
      }

      

      .nav .menuicon-bread {
        display: block;
        align-items: center;
        height: 44px;
        width: 44px;
        color: white;
      }

      .nav .menuicon-bread-crust-top {
        margin-top: 45%;
        margin-bottom: 5px;
        display: block;
        height: 1px;
        width: 17px;
        background-color: white;
      }

      

      .nav .menuicon-bread-crust-bottom {
        
        display: block;
        height: 1px;
        width: 17px;
        background-color: white;
      }

      .nav .appleIcon {
        display: flex;
        
      }

      .nav .cartIcon {
        display: block;
        height: 24px;
        padding-left: 14px;
        
      }
    /*content 735*/
      /*content1 735*/
        .content1 {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          height: 500px;
          width: 100%;
          background-color: #F9F0EB;
          cursor: pointer;
        }
        .headline1 {
          font-size: 32px;
          font-weight: 600;
          letter-spacing: .004em;
          font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
          
        }

        .headline2 {
          font-size: 19px;
          font-weight: 400;
          letter-spacing: .012em;
        }

        .iPhone8Large {
          display: none;
        }

        .iPhone8Med {
          display: none;
        }
        
        .iPhone8Small {
          display: block;
        }

      /*content2 735*/
        .content2 {
          display: flex;
          flex-direction: column;
          height: 500px;
          width: 100%;
          background-color: #FAFAFA;
          justify-content: flex-end;
          align-items: center;
          border-top-color: white;
          border-bottom-color: white;
          border-top: solid;
          border-color: white;
          cursor: pointer;
        }
        .iPhone10XLarge {
          display: none;
        }

        .iPhone10XMed {
          display: none;
        }
        .iPhone10XSmall {
          display: block;
          width: 163px;
          height: 333px;
          padding-bottom: 35px;
        }
      /*content3 735*/
        .content3 {
          display: flex;
          flex-direction: column;
          height: 500px;
          background-color: #FAFAFA;
          justify-content: flex-start;
          align-items: center;
          border-top: solid;
          border-color: white;
          cursor: pointer;
        }
        .watchLarge{
          display: none;
        }

        .watchMed {
          display: none;
        }
        .watchSmall {
          display: block;
        }
      /*tile content 735*/
        .tv4kTile {
          height: 500px;
          width: 100%;
          border: none; 
          background-image: url('./img/tv_4k_large.jpg');
        }

        .iOS11Tile .iOS11 {
          display: none;
        }
        .iOS11Tile {
          height: 500px;
          width: 100%;
          border: none;
        }

        .watchOSTile .watchOS4 {
          display: none;
        }
        
  
  
        .watchOSTile {
          height: 500px;
          width: 100%;
          max-width: 490px;
          max-height: 490px;
          overflow: hidden;
          border: none;
        }

        .collegeTile {
          height: 500px;
          width: 100%;
          border: none;
        }
    /* MOBILE FOOTER */
      .footer {
        display: block;
        background-color: #f2f2f2;
        padding: 0px;
        margin: 0px;
        padding-left: 16px;
        padding-right: 16px;
        text-decoration: none;
      }

      footer h4 {
        margin: 0px;
        padding: 0px;
      }

      .footerList-mobile {
        display: block;
        width: 100%;
        
        border-bottom: #D6D6D6 solid 1px;

      }

    .column-title{
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
        line-height: 2.5;
        font-weight: 400;
        letter-spacing: 0em;
        padding-top: 10px;
        padding-bottom: 10px; 
    }

      .footerList-mobile li {
        padding: 6px 14px 6px 14px;
        text-decoration: none;
        display: none;
        
        
      }

    
      .footerList{
        display: none;
      }
        
  }
  @media only screen and (max-width: 320px) {
      .iOS11Tile .iOS11 {
        display: none;
      }
    
    
      .iOS11Tile .iOS11 {
        display: none;
      }

      .watchOSTile .watchOS4 {
        display: none;
      }


      
  
  }