body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.measure {
  display:block;
  position: absolute;
  width: 124px;
  height: 382px;
  background-color: red;
  opacity: 0.7;
  z-index: 100;
  top: 890px;
  left: 680px;
}